.newProductTitle {
    font-size: 2.35em;
    font-weight: 500;
    padding-top: 1em;
    margin-bottom: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.newProduct {
    min-height: 30vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 1em;
    margin-bottom: 2em;
    background-color: hsl(234, 42%, 95%);
}

.form-group {
    padding-bottom: 2em;
}

.button-container {
    display: flex;
    justify-content: center;
    padding: 0;
}

.btn {
    width: 30%;
    align-self: center;
    background-color: #088178;
}

.btn:hover {
    color: #088178;
    border: 1px solid #088178;
    background-color: white;
}

.productCreated {
    color: green;
    position: absolute;
    top: 30vh;
    font-weight: 700;
    font-size: 0.75em;
}

small {
    position: absolute;
    left: 29.3vw;
}

@media screen and (max-width: 1000px) {
    .btn {
        width: 45%;
    }
}

@media screen and (max-width: 400px) {
    .btn {
        width: 60%;
    }
}

@media screen and (max-height: 1400px) {
    .productCreated {
        top: 28vh;
    } 
}

@media screen and (max-height: 1200px) {
    .productCreated {
        top: 24.5vh;
    } 
}

@media screen and (max-height: 1020px) {
    .productCreated {
        top: 6.65em;
    } 
}

@media screen and (max-height: 800px) {
    .productCreated {
        top: 6.8em;
    } 
}