#cart-container {
    display: flex;
    flex-direction: column;
    padding: 2em;
    margin: 0 13vw;
    min-height: 90vh;
}

#cart-container h3 {
    font-size: 2em;
    padding: 1em 0;
    text-align: center;
}

#cart-container h3 span {
    font-size: 0.7em;
    font-weight: 400;
}

.cart-details-container {
    display: flex;
    align-items: center;
    gap: 1em;
    background-color: #F7F7F7;
    padding: 2em 5em;
    font-size: 1.2em;
}

.cart-item-details {
    flex: 5;
    display: flex;
    gap: 2em;
}

.cart-item-price {
    flex: 1;
    color: #088178;
    font-weight: 500;
}

.cart-item-quantity {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-item-subtotal {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #088178;
    font-weight: 500;
}

.checkout-container {
    background-color: #EEEFF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 6em;
}

.checkout-container .checkout-text {
    font-size: 1.3em;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
}

.checkout-container .checkout-text span {
    color: #088178;
    font-size: 1.5em;
}

.checkout-container button {
    height: 3em;
    color: white;
    background-color: #088178;
    font-size: 1.2em;
    border: none;
    padding: 1em 1.5em;
    cursor: pointer;
}

.checkout-container button:hover {
    background-color: white;
    color: #088178;
    border: 1px solid #088178;
}

@media screen and (max-width: 1500px) {
    #cart-container {
        margin: 0 5vw;
    }
}

@media screen and (max-width: 1200px) {
    #cart-container {
        margin: 0;
        padding: 1em;
        width: 100%;
    }

    .cart-item-details {
        gap: 1em;
        padding: 1em;
    }

    .cart-details-container {
        padding: 1em;
    }

    .checkout-container {
        padding: 1.5em 1.8em;
    }
}

@media screen and (max-width: 950px) {
    #cart-container {
        padding: 1em 0;
    }

    .cart-details-container {
        font-size: 1em;
        padding: 1em 0;
    }

    .cart-item-details {
        flex: 3;
        gap: 1;
        padding: 1em 0;
        padding-left: 1em;
    }

    .cart-item-quantity {
        gap: 0;
    }

    .cart-item-subtotal {
        flex: 1;
        padding-right: 0.5em;
    }

    .checkout-container button {
        font-size: 1em;
    }

    .checkout-container .checkout-text {
        font-size: 1em;
    }

    .checkout-container .checkout-text span {
        font-size: 1em;
    }
}

@media screen and (max-width: 695px) {
    #cart-container {
        padding: 0;
    }

    #cart-container h3 {
        font-size: 1.5em;
    }

    .cart-details-container {
        font-size: 0.7em;
        line-height: 1.5em;
    }

    .cart-item-quantity {
        gap: 0
    }

    .checkout-container button {
        font-size: 0.6em;
        padding: 0.5em 1em;
    }

    .checkout-container .checkout-text {
        font-size: 0.8em;
    }

    .checkout-container .checkout-text span {
        font-size: 1.1em;
    }
}

@media screen and (max-width: 500px) {
    .cart-details-container {
        font-size: 0.65em;
        gap: 0;
    }

    .checkout-container .checkout-text {
        gap: 0.5em;
    }
}

@media screen and (max-height:1600px) {
    #cart-container {
        min-height: 70vh;
    }
}