.navRight {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navRightContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navRightContainer li {
    list-style: none;
    padding: 0 1em;
    font-size: 1.2em;
    position: relative;
    cursor: pointer;
    width: 13em;
    height: 2.5em;
    line-height: 2.5em;
    border-radius: 3.125em;
    font-weight: 500;
    background-color: #088178;
    border: 1px solid #cce7d0;
    text-align: center;
}

.navRightContainer li:hover {
    background-color: white;
    color: #088178;
    border: 1px solid #088178;
}

.navRightContainer li a:hover {
    color: #088178;
}

.navRightContainer a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

@media screen and (max-width: 1000px) {
    .navRightContainer {
        display: none;
    }

    .navRightContainer li {
        font-size: 0.1em;
        padding: 0;
        width: 15em;
    }
}

@media screen and (max-width: 600px) {
    .navRightContainer li {
        font-size: 0.1em;
        padding: 0;
        width: 15em;
    }
}